
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

$White: hsl(0, 0%, 100%);
$Light_pink: hsl(275, 100%, 97%);
$Grayish_purple: hsl(292, 16%, 49%);
$Dark_purple: hsl(292, 42%, 14%);

.main_wrapper,.row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}

.row{
    justify-content: flex-start;

}
.main_wrapper{
    height: 100vh;
    width: 100vw;
    padding-top: 250px;
    background-color: $Light_pink;
    background: url("/assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: top;
}

.accordion_main_wrapper{
    
    background-color: $White;
    padding:30px;
    width: 600px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 25px;


    .logo{
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
        h1{
            font-size: 3rem;
            font-weight: 800;
        }

    }

    .accordion_wrapper,.accordion_list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
}
.accordion_list{
    padding-left: 0;
    margin-top: 35px;
}

.accordion_item{
    list-style: none;
    padding-left: 0;
    border-top: 1px solid $Light_pink;
    border-bottom: 1px solid $Light_pink;
    min-height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    

    width: 100%;
    .question_wrapper{
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
     
        p{
            margin-bottom: 0;
        }
        span{
            height: 30px;
            width: 30px;
            background:url('/assets/images/icon-plus.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top;
            transition: all ease 0.3s;
            cursor: pointer;
          
        }

        .minus_icon{
            background:url('/assets/images/icon-minus.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top;
            transition: all ease 0.3s;
        }
    }
    .ans{
        display: none;
        // visibility: hidden;
        margin-top: 20px;
    
            margin-bottom: 0;
            color: $Grayish_purple;
            margin-bottom: 20px;
            transition: all ease 0.3s;
        
      
    }

    .show_ans{
        
        display: block;
  
    }
   
}



@media screen and (max-width: 1440px){
    .main_wrapper{
        padding-top: 160px;
    }
    
}

@media screen and (max-width: 768px) and (min-width: 200px){

    .main_wrapper{

        background: url("/assets/images/background-pattern-mobile.svg");
        background-repeat: no-repeat;
        background-size:contain;
        background-position: top;
       padding-top: 350px;
    }
    
}

@media screen and (max-width: 650px){
    .main_wrapper{
        padding-top: 150px;
    }
    .accordion_main_wrapper{
        width: 360px;
    }
}

